doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body.homepage
        h1 Contacts
        p.homepage__actions
            a(href="/update-cobj") Add/Update this table
        table.custom-object-table
            thead
                tr
                    th Name
                    th Email
                    th Phone
            tbody
                each contact in data
                    tr
                        td #{contact.properties.firstname} #{contact.properties.lastname}
                        td= contact.properties.email || ""
                        td= contact.properties.phone || ""
